<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Super Team Picker</title>

    <!--<link rel="stylesheet" href="/stylesheets/main.css">-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  
    <script src="/scripts/jquery-3.3.1.slim.min.js"></script>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>

    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>-->

</head>
<body>
<header>
    <nav class="navbar navbar-expand text-primary">
        <a class="navbar-brand ml-3 " href="#">
            <svg width="1em" class="Icon mb-1" viewBox="0 0 512 512">
            <path d="M71.258 0h369.484C480.097 0 512 31.903 512 71.258v369.484C512 480.097 480.097 512 440.742 512H71.258C31.903 512 0 480.097 0 440.742V71.258C0 31.903 31.903 0 71.258 0zM63.34 242.804v25.843l97.797 63.34V298.29l-67.14-42.058v-1.013l67.14-42.058v-33.697l-97.797 63.34zm163.122 125.414l83.356-220.424h-31.163l-83.356 220.424h31.163zm214.428-99.571v-25.843l-97.797-63.34v33.697l67.14 42.058v1.013l-67.14 42.058v33.697l97.797-63.34z">
            </path>
            </svg>
            Super Team Picker
        </a>
    
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/posts">Cohorts</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/posts/new">New Cohort</a>
                </li>
            
            </ul>
        
        </div>

    </nav>
</header>
<main class="container pt-2">