<%- include("../partials/header") %>

<h4 class="ml-2 mt-2 mr-2 mb-2">Edit Cohort</h4>
<form action="/posts/<%= cohort.id %>" class="ml-2 mt-2 mr-2 mb-2" method="POST">
    <input type="hidden" name="_method" value="PATH">
    <div class="form-group">
        <input 
            type="url"
            class="form-control"
            name="logo_url"
            placeholder="Enter New Cohort Image URL Here"    
        >
    </div>
    <div class="form-group">
        <input 
            type="text" 
            class="form-control"
            name="name"
            placeholder="Enter New Cohort Name Here"
        >
    </div>
    <div class="form-group">
        <textarea 
            name="members" 
            cols="30" 
            rows="10"
            placeholder="Enter New Team Members Here"
        ></textarea>
    </div>

    <input type="submit" value="Update" class="btn btn-outline-primary float-right">

</form>

<%- include("../partials/footer") %>
